<template>
  <div class="d-flex">
    <div class="width-50 height-100 bg-block d-flex d-sm-none align-items-center justify-content-center">
      <icon-skill-3
          width="80px"
          height="80px"
      />
    </div>
    <div class="width-50 width-sm-100 height-100 d-flex flex-column align-items-center justify-content-center pl-5 pa-sm-0">
      <p class="text-subtitle-1">
        <strong class="text-uppercase">Устойчивое развитие –</strong><br>
        основное требование современного производства маркетинговых материалов. У&nbsp;нас есть шкала критериев Sustainability для оценки каждого промо материала, опыт производства Sustainable материалов.
      </p>
      <p class="text-subtitle-1">
        Мы будем рады помочь вам двигаться по&nbsp;пути Устойчивого развития бизнеса, применяя экологичные способы производства, увеличивая долю перерабатываемых материалов, сокращая углеродный след.
      </p>
      <p class="text-subtitle-1">
        Использование лучших практик и&nbsp;инновационных решений ведёт к&nbsp;стабильному будущему.
      </p>
    </div>
  </div>
</template>

<script setup>
import iconSkill3 from './icons/IconSkill3.vue'
</script>

<style scoped>
.bg-block {
  background-image: url("../assets/images/bg-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
</style>
