<template>
  <div class="d-flex">
    <div class="width-50 width-sm-100 height-100 d-flex flex-column align-items-center justify-content-center pr-5 pa-sm-0">
      <p class="text-subtitle-1">
        <strong class="text-uppercase">Наша профессиональная команда</strong><br>
        менеджеров по&nbsp;работе с&nbsp;клиентами обладает обширными знаниями методов и&nbsp;технологий печати.
      </p>
      <ul class="list text-subtitle-1">
        <li>Мы берем на&nbsp;себя полную ответственность за&nbsp;качество конечного продукта;</li>
        <li>Процессы, разрабатываемые более 35&nbsp;лет для&nbsp;обеспечения высочайших стандартов;</li>
        <li>Все наши поставщики проверяют каждый этап производства;</li>
        <li>Наши менеджеры одобряют образцы всех работ и&nbsp;осуществляют независимый контроль качества;</li>
        <li>Мы регулярно проводим проверку качества непосредственно на&nbsp;производствах;</li>
        <li>Мы используем процедуру эскалации проблем;</li>
        <li>SLA могут быть специфическими для каждого	клиента;</li>
        <li>Мы сосредоточены на&nbsp;постоянном улучшении.</li>
      </ul>
    </div>
    <div class="width-50 height-100 bg-block d-sm-none"></div>
  </div>
</template>

<style scoped>
.bg-block {
  background-image: url("../assets/images/bg-3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
</style>
