<template>
  <div class="d-flex flex-column justify-content-around align-items-center text-center">
    <h2 class="text-title-1">
      ГАРМОНИЗИРУЙТЕ СВОЙ МАРКЕТИНГ
    </h2>
    <p class="text-subtitle-1">
      Мы предоставляем комплексное обслуживание клиентов – изучение структуры расходов на&nbsp;производство маркетинговых материалов и&nbsp;предоставление реальной экономии затрат на&nbsp;маркетинговую активность в&nbsp;сочетании с&nbsp;увеличением эффективности и&nbsp;повышением качества маркетинговых материалов.
    </p>
    <div class="skills">
      <div class="skills__item bg-soft d-flex align-items-center justify-content-center text-center">
        <strong class="text-uppercase">Печатные материалы</strong>
      </div>
      <div class="skills__item bg-soft d-flex align-items-center justify-content-center text-center">
        <strong class="text-uppercase">ПОС материалы</strong>
      </div>
      <div class="skills__item bg-soft d-flex align-items-center justify-content-center text-center">
        <strong class="text-uppercase">Промо материалы</strong>
      </div>
      <div class="skills__item bg-soft d-flex align-items-center justify-content-center text-center">
        <strong class="text-uppercase">Цифровой контент</strong>
      </div>
      <div class="skills__item bg-soft d-flex align-items-center justify-content-center text-center">
        <strong class="text-uppercase">Дизайн</strong>
      </div>
    </div>
  </div>
</template>

<style scoped>
.skills {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  max-width: 100%;
}

.skills__item {
  font-size: 18px;
  color: var(--vt-c-pink-soft);
  padding: 28px 14px;
}
</style>
