<template>
  <div class="d-flex">
    <div class="width-50 width-sm-100 height-100 d-flex flex-column align-items-center justify-content-center pr-5 pa-sm-0">
      <p class="text-subtitle-1">
        <strong class="text-uppercase">Мы обеспечиваем поставки</strong><br>
        всего спектра материалов для маркетинговых активностей, помогаем оптимизировать процессы закупки промо материалов. Все специалисты нашей компании имеют опыт работы в&nbsp;международной PMC компании Adare International, широкую экспертизу в&nbsp;области производства маркетинговых материалов.
      </p>
    </div>
    <div class="width-50 height-100 bg-block d-flex d-sm-none align-items-center justify-content-center">
      <icon-skill-3
          height="80px"
          width="80px"
      />
    </div>
  </div>
</template>

<script setup>
import iconSkill3 from './icons/IconSkill3.vue'
</script>

<style scoped>
.bg-block {
  background-image: url("../assets/images/bg-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
</style>
