<template>
  <div class="d-flex align-items-center justify-content-around flex-column text-center bg-soft">
    <icon-skill-6
        height="70px"
        width="70px"
        style="color: var(--vt-c-fuchsia-soft)"
    />
    <div>
      <p class="text-subtitle-1">
        Учёт всех заказов с&nbsp;детальными спецификациями, информацией по&nbsp;тендерным расчётам, датами этапов прохождения каждого заказа.
      </p>
      <p class="text-subtitle-1">
        Мы готовы предложить разные варианты отчётов по&nbsp;любым параметрам (сейвингу, активности BU…)
      </p>
    </div>
    <icon-skill-7
        height="70px"
        width="70px"
        style="color: var(--vt-c-fuchsia-soft)"
    />
  </div>
</template>

<script setup>
import iconSkill6 from './icons/IconSkill6.vue'
import iconSkill7 from './icons/IconSkill7.vue'
</script>