<template>
  <div class="d-flex flex-column justify-content-around align-items-center text-center">
    <h1 class="text-title-1">
      Дизайн и производство широкого спектра маркетинговых материалов
    </h1>
    <icon-logo
        class="my-4 flex-shrink-0"
        height="48px"
    />
    <p class="text-subtitle-1">
      Компания Радаре – локальная компания,<br>
      работающая по модели PMC
    </p>
  </div>
</template>

<script setup>
import iconLogo from "@/components/icons/iconLogo.vue";
</script>
