<template>
  <div class="d-flex flex-sm-column bg-soft">
    <div class="width-50 width-sm-100 height-100 height-sm-auto">
      <p class="text-subtitle-1 mb-5 mb-sm-3">
        Мы будем рады обсудить с&nbsp;вами формат сотрудничества.
      </p>
      <p>
        105064, г.&nbsp;Москва,<br>
        Нижний Сусальный переулок, д.&nbsp;5, стр.&nbsp;17,<br>
        этаж&nbsp;4, ком.&nbsp;6
      </p>
    </div>
    <div class="width-50 width-sm-100 height-100 d-flex flex-column contact">
      <div
          v-for="item in contacts"
          :key="name"
          class="contact__item"
      >
        <a
            :href="`mailto:${item.email}`"
            class="contact__item_email"
        >
          {{ item.email }}
        </a>
        <div class="contact__item_img">
          <img
              :src="getImage(item.img)"
              :alt="item.name"
          >
        </div>
        <div class="contact__item_info">
          <div class="contact__item_name">
            {{ item.name }}
          </div>
          <div class="contact__item_position">
            {{ item.position }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      contacts: [
        {
          email: 'alexei.racuvayev@radare.ru',
          name: 'Alexei Racuvayev',
          position: 'General Director',
          img: 'alexey.jpg'
        },
        {
          email: 'maksim.boldinov@radare.ru',
          name: 'Maksim Boldinov',
          position: 'Account Director',
          img: 'max.jpg'
        },
        // {
        //   email: 'oleg.chernikov@radare.ru',
        //   name: 'Oleg Chernikov',
        //   position: 'Art Director',
        //   img: 'oleg.jpg'
        // },
        // {
        //   email: 'alisa.ton@radare.ru',
        //   name: 'Alisa Ton',
        //   position: 'Account Manager',
        //   img: 'alisa.jpg'
        // },
        // {
        //   email: 'arthur.klepikov@radare.ru',
        //   name: 'Arthur Klepikov',
        //   position: 'Account Manager',
        //   img: 'artur.jpg'
        // },
        // {
        //   email: 'maria.maximova@radare.ru',
        //   name: 'Maria Maximova',
        //   position: 'Account Manager',
        //   img: 'masha.jpg'
        // }
      ]
    }
  },
  methods: {
    getImage(img) {
      return new URL(`../assets/images/contacts/${img}`, import.meta.url).href
    }
  }
}
</script>

<style scoped>
.contact {
  display: flex;
  flex-direction: column;
}

.contact__item {
  align-items: flex-end;
  justify-content: flex-end;
  display: grid;
  grid-template-columns: 1fr auto 140px;
  gap: 8px 16px;
  margin-bottom: 16px;
}

.contact__item_email {
  color: var(--vt-c-pink-soft);
  text-decoration: none;
  transition: color ease-in .2s;
  text-align: right;
}

.contact__item_email:hover {
  color: var(--vt-c-white);
}

.contact__item_img {
  width: 80px;
  height: 80px;
}

.contact__item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact__item_name {
  color: var(--vt-c-pink);
}

.contact__item_position {
  color: var(--vt-c-pink-soft);
}

@media (max-width: 992px) {
  .contact__item {
    grid-template-columns: auto;
    justify-content: flex-start;
  }

  .contact__item_email {
    grid-area: 2/2/3/3;
    font-size: 14px;
  }

  .contact__item_img {
    grid-area: 1/1/3/2;
    width: 60px;
    height: 60px;
  }

  .contact__item_info {
    grid-area: 1/2/2/3;
  }
}
</style>
