<template>
  <div class="d-flex flex-column justify-content-around align-items-center text-center">
    <h2 class="text-title-1">
      Наш подход
    </h2>
    <p class="text-subtitle-1">
      Гибкость является основой нашего подхода. Используя нашу передовую технологическую платформу, мы можем быстро адаптироваться ко всем потребностям планирования, креативности и доставки по всей цепочке маркетинговых поставок.
    </p>
    <div class="skills">
      <div class="d-flex align-items-center flex-column text-center">
        <icon-skill-1
            width="80px"
            height="80px"
        />
        <strong
            class="text-uppercase"
            style="color: var(--vt-c-orange)"
        >
          КОНСУЛЬТАЦИИ
        </strong>
        <p>Помогаем по-новому взглянуть на ситуацию.</p>
      </div>
      <div class="d-flex align-items-center flex-column text-center">
        <icon-skill-2
            width="80px"
            height="80px"
        />
        <strong
            class="text-uppercase"
            style="color: var(--vt-c-fuchsia-soft)"
        >
          ПРОИЗВОДСТВО
        </strong>
        <p>Мы думаем.<br/>Мы представляем.<br/>Мы создаем.</p>
      </div>
      <div class="d-flex align-items-center flex-column text-center">
        <icon-skill-3
            width="80px"
            height="80px"
        />
        <strong
            class="text-uppercase"
            style="color: var(--vt-c-blue)"
        >
          АДАПТАЦИЯ
        </strong>
        <p>Создание бесшовных впечатлений от&nbsp;брендов.</p>
      </div>
      <div class="d-flex align-items-center flex-column text-center">
        <icon-skill-4
            width="80px"
            height="80px"
        />
        <strong
            class="text-uppercase"
            style="color: var(--vt-c-azure)"
        >
          ДОСТАВКИ
        </strong>
        <p>Повышение ценности региональных и глобальных цепочек поставок.</p>
      </div>
      <div class="d-flex align-items-center flex-column text-center">
        <icon-skill-5
            width="80px"
            height="80px"
        />
        <strong
            class="text-uppercase"
            style="color: var(--vt-c-light-green)"
        >
          АКТИВАЦИЯ
        </strong>
        <p>Нужная вещь<br/>в нужном месте,<br/>в нужное время.</p>
      </div>
    </div>
  </div>
</template>

<script setup>
import iconSkill1 from './icons/IconSkill1.vue'
import iconSkill2 from './icons/IconSkill2.vue'
import iconSkill3 from './icons/IconSkill3.vue'
import iconSkill4 from './icons/IconSkill4.vue'
import iconSkill5 from './icons/IconSkill5.vue'
</script>

<style scoped>
.skills {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  max-width: 100%;
}

strong {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 8px;
}
</style>
