/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #000000;

  --vt-c-pink: #F08CD6;
  --vt-c-pink-soft: #DBB0E1;

  --vt-c-fuchsia: #A71681;
  --vt-c-fuchsia-soft: #A61580;

  --vt-c-deep-purple: #331537;
  --vt-c-deep-purple-soft: #57125B;

  --vt-c-orange: #D6490C;
  --vt-c-blue: #2BAEE5;
  --vt-c-azure: #309EA5;
  --vt-c-light-green: #93C01F;

  --vt-c-overlow-black: rgba(0, 0, 0, 0.50);
  --vt-c-overlow-black-soft: rgba(0, 0, 0, 0.22);

  --color-background: linear-gradient(to right, var(--vt-c-deep-purple), var(--vt-c-deep-purple-soft));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--vt-c-white);
  background: var(--color-background);
  line-height: 1.2;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/bg-lines.svg");
  background-position: right bottom;
  background-size: cover;
  position: fixed;
  z-index: -1;
  opacity: .2;
}

h1, h2 {
  margin: 0;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

p {
  margin-bottom: 8px;
}