@import './base.css';

.d-flex {
    display: flex!important;
}

.flex-column {
    flex-direction: column!important;
}

.justify-content-around {
    justify-content: space-around!important;
}

.justify-content-center {
    justify-content: center!important;
}

.align-items-center {
    align-items: center!important;
}

.flex-shrink-0 {
    flex-shrink: 0!important;
}

.text-title-1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text-title-2 {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text-subtitle-1 {
    font-size: 22px;
}

.text-subtitle-2 {
    font-size: 18px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center!important;
}

.list {
    margin: 0;
    padding-left: 16px;
}

.list li{
    margin-bottom: 8px;
}

.pa-5 {
    padding: 32px;
}

.pr-5 {
    padding-right: 32px;
}

.pl-5 {
    padding-left: 32px;
}

.my-4 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mb-5 {
    margin-bottom: 32px;
}

.width-50 {
    width: 50%;
}

.height-100 {
    height: 100%;
}

.bg-soft {
    background-color: var(--vt-c-overlow-black-soft);
}

@media (max-width: 992px) {
    .text-title-1 {
        font-size: 28px;
    }

    .text-title-2 {
        font-size: 26px;
    }

    .text-subtitle-1 {
        font-size: 18px;
    }

    .pa-md-3 {
        padding: 16px!important;
    }
}

@media (max-width: 768px) {
    .flex-sm-column {
        flex-direction: column!important;
    }

    .d-sm-none {
        display: none!important;
    }

    .pa-sm-0 {
        padding: 0!important;
    }

    .mb-sm-3 {
        margin-bottom: 16px!important;
    }

    .width-sm-100 {
        width: 100%!important;
    }

    .height-sm-auto {
        height: auto!important;
    }
}