<template>
  <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      :height="height"
      :width="width"
      viewBox="0 0 108.48 25.77"
  >
    <defs>
      <clipPath id="clippath">
        <path d="M11.34.09C4.28.94-.76,7.36.09,14.43c.85,7.07,7.26,12.11,14.33,11.25,5.99-.72,10.52-5.44,11.24-11.17-1.31,2.12-3.48,3.87-6.22,4.76-5.55,1.81-11.31-.62-12.87-5.42-1.56-4.8,1.67-10.15,7.22-11.96,1.62-.53,3.26-.69,4.82-.54-1.74-.86-3.69-1.35-5.72-1.35-.51,0-1.03.03-1.55.09"/>
      </clipPath>
      <clipPath id="clippath-2">
        <path d="M15.95,4.83c-3.85,1.25-6.22,4.57-5.3,7.42.93,2.84,4.8,4.14,8.65,2.88,3.85-1.26,6.22-4.58,5.3-7.42-.68-2.11-2.99-3.36-5.7-3.36-.95,0-1.95.15-2.95.48"/>
      </clipPath>
    </defs>

    <path d="M11.34.09C4.28.94-.76,7.36.09,14.43c.85,7.07,7.26,12.11,14.33,11.25,5.99-.72,10.52-5.44,11.24-11.17-1.31,2.12-3.48,3.87-6.22,4.76-5.55,1.81-11.31-.62-12.87-5.42-1.56-4.8,1.67-10.15,7.22-11.96,1.62-.53,3.26-.69,4.82-.54-1.74-.86-3.69-1.35-5.72-1.35-.51,0-1.03.03-1.55.09"/>
    <g clip-path="url(#clippath)">
      <rect x="-6.27" y="-5.46" width="37.45" height="37.45" transform="translate(-5.73 12.69) rotate(-45)"/>
    </g>

    <path d="M15.95,4.83c-3.85,1.25-6.22,4.57-5.3,7.42.93,2.84,4.8,4.14,8.65,2.88,3.85-1.26,6.22-4.58,5.3-7.42-.68-2.11-2.99-3.36-5.7-3.36-.95,0-1.95.15-2.95.48"/>
    <g clip-path="url(#clippath-2)">
      <rect x="7.95" y=".44" width="19.35" height="19.84" transform="translate(-1.61 17.29) rotate(-50.26)"/>
    </g>
    <path d="M33.01,2.53c1.26-.23,3.08-.4,4.77-.4,2.66,0,4.4.51,5.57,1.57.94.86,1.51,2.17,1.51,3.68,0,2.51-1.6,4.2-3.6,4.88v.09c1.46.51,2.34,1.88,2.8,3.88.63,2.68,1.09,4.54,1.49,5.28h-2.57c-.31-.57-.74-2.2-1.26-4.6-.57-2.66-1.63-3.65-3.88-3.74h-2.34v8.34h-2.48V2.53ZM35.49,11.3h2.54c2.66,0,4.34-1.46,4.34-3.65,0-2.48-1.8-3.57-4.43-3.57-1.2,0-2.03.09-2.46.2v7.02Z"/>
    <path d="M57.53,18.21c0,1.2.06,2.37.2,3.31h-2.26l-.2-1.74h-.09c-.77,1.09-2.25,2.06-4.23,2.06-2.8,0-4.22-1.97-4.22-3.97,0-3.34,2.97-5.17,8.31-5.14v-.28c0-1.11-.31-3.2-3.14-3.17-1.31,0-2.66.37-3.63,1.03l-.57-1.68c1.14-.71,2.83-1.2,4.57-1.2,4.23,0,5.25,2.88,5.25,5.62v5.17ZM55.1,14.47c-2.74-.06-5.85.43-5.85,3.11,0,1.66,1.09,2.4,2.34,2.4,1.83,0,3-1.14,3.4-2.31.09-.28.11-.57.11-.8v-2.4Z"/>
    <path d="M72.69,1.25v16.7c0,1.23.06,2.63.11,3.57h-2.23l-.11-2.4h-.09c-.74,1.54-2.4,2.71-4.65,2.71-3.34,0-5.94-2.83-5.94-7.02-.03-4.6,2.86-7.39,6.2-7.39,2.14,0,3.54,1,4.17,2.08h.06V1.25h2.48ZM70.2,13.33c0-.31-.03-.74-.11-1.06-.37-1.57-1.74-2.88-3.63-2.88-2.6,0-4.14,2.28-4.14,5.31,0,2.8,1.4,5.11,4.08,5.11,1.68,0,3.23-1.14,3.68-3,.09-.34.11-.69.11-1.09v-2.4Z"/>
    <path d="M85.79,18.21c0,1.2.06,2.37.2,3.31h-2.26l-.2-1.74h-.09c-.77,1.09-2.25,2.06-4.23,2.06-2.8,0-4.22-1.97-4.22-3.97,0-3.34,2.97-5.17,8.31-5.14v-.28c0-1.11-.31-3.2-3.14-3.17-1.31,0-2.66.37-3.63,1.03l-.57-1.68c1.14-.71,2.83-1.2,4.57-1.2,4.23,0,5.25,2.88,5.25,5.62v5.17ZM83.36,14.47c-2.74-.06-5.85.43-5.85,3.11,0,1.66,1.09,2.4,2.34,2.4,1.83,0,3-1.14,3.4-2.31.09-.28.11-.57.11-.8v-2.4Z"/>
    <path d="M89.04,12.01c0-1.63-.03-3.03-.11-4.31h2.2l.11,2.74h.09c.63-1.86,2.17-3.03,3.85-3.03.26,0,.46.03.69.06v2.37c-.26-.06-.51-.06-.86-.06-1.77,0-3.03,1.31-3.37,3.2-.06.34-.09.77-.09,1.17v7.37h-2.51v-9.51Z"/>
    <path d="M98.69,15.07c.06,3.4,2.2,4.8,4.74,4.8,1.8,0,2.91-.31,3.83-.71l.46,1.8c-.89.4-2.43.89-4.63.89-4.25,0-6.8-2.83-6.8-7s2.46-7.42,6.48-7.42c4.54,0,5.71,3.94,5.71,6.48,0,.51-.03.89-.09,1.17h-9.71ZM106.05,13.27c.03-1.57-.66-4.06-3.48-4.06-2.57,0-3.65,2.31-3.85,4.06h7.34Z"/>
  </svg>
</template>

<script>
export default {
  props: {
    height: {
      type: String,
      default: '100%'
    },
    width: {
      type: String,
      default: '100%'
    }
  }
}
</script>