<template>
  <svg
      xmlns="http://www.w3.org/2000/svg"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.56px"
      fill="none"
      :height="height"
      :width="width"
      viewBox="0 0 53.16 48.12"
  >
    <path class="cls-4" d="M.78,26.93h8.57c1.06,0,1.91.85,1.91,1.92v13.23c0,1.07-.85,1.92-1.91,1.92H.78"/>
    <path class="cls-4" d="M11.26,28.85h7.23l9.17,3.13h7.55c1.45,0,2.61,1.21,2.61,2.67s-1.16,2.63-2.61,2.63h-9.28c-1.16,0-2.08.96-2.08,2.1"/>
    <path class="cls-4" d="M11.26,42.08h3.85l15.42,5.23,20.71-10.85c1.06-.53,1.52-1.89.99-2.99-.46-1.03-1.62-1.57-2.71-1.21l-12.03,3.74"/>
    <polygon class="cls-4" points="26.99 25.75 26.99 25.75 42.87 9.71 35.53 .67 26.99 .67 18.42 .67 11.11 9.71 26.99 25.75"/>
    <polygon class="cls-4" points="26.99 25.75 26.99 25.75 33.91 9.71 30.73 .67 26.99 .67 23.25 .67 20.04 9.71 26.99 25.75"/>
    <polyline class="cls-4" points="11.11 9.71 11.11 9.71 42.87 9.71"/>
    <path class="cls-4" d="M7.76,39.38h0c0-.96-.78-1.78-1.73-1.78s-1.76.82-1.76,1.78.78,1.78,1.76,1.78,1.73-.82,1.73-1.78Z"/>
  </svg>
</template>

<script>
export default {
  props: {
    height: {
      type: String,
      default: '100%'
    },
    width: {
      type: String,
      default: '100%'
    }
  }
}
</script>
