<template>
  <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      :width="width"
      :height="height"
      viewBox="0 0 45.24 45.24"
  >
    <path d="M2.94,15.57h13.86c1.63,0,2.94-1.35,2.94-2.98V2.7c0-1.63-1.31-2.94-2.94-2.94H2.94C1.31-.25,0,1.06,0,2.7v9.89c0,1.63,1.31,2.98,2.94,2.98ZM1.95,2.7h0c0-.53.46-.99.99-.99h13.86c.53,0,.99.46.99.99v9.89c0,.53-.46.99-.99.99H2.94c-.53,0-.99-.46-.99-.99V2.7Z"/>
    <path d="M41.52,29.4h-13.83c-1.67,0-2.98,1.35-2.98,2.98v9.89c0,1.63,1.31,2.98,2.98,2.98h13.83c1.63,0,2.98-1.35,2.98-2.98v-9.89c0-1.63-1.35-2.98-2.98-2.98ZM42.52,42.27h0c0,.53-.46.99-.99.99h-13.83c-.57,0-.99-.46-.99-.99v-9.89c0-.57.43-.99.99-.99h13.83c.53,0,.99.43.99.99v9.89Z"/>
    <path d="M42.52,6.67h-6.52L30.35.99c-.39-.39-.99-.39-1.38,0l-5.96,5.96c-.39.39-.39.99,0,1.38l5.96,5.96c.18.18.43.28.67.28.28,0,.53-.11.71-.28l5.64-5.67h6.52c.53,0,.99.46.99.99v8.9c0,1.63-1.35,2.98-2.98,2.98H4.93c-2.73,0-4.93,2.23-4.93,4.93v8.94c0,1.63,1.31,2.94,2.94,2.94h15.43l-4.25,4.26c-.39.39-.39,1.03,0,1.38.21.21.46.32.71.32s.5-.11.71-.32l5.92-5.92c.39-.39.39-.99,0-1.38l-5.92-5.96c-.39-.39-1.03-.39-1.42,0-.39.39-.39,1.03,0,1.42l4.25,4.22H2.94c-.53,0-.99-.43-.99-.96v-8.94c0-1.63,1.35-2.94,2.98-2.94h35.6c2.73,0,4.96-2.23,4.96-4.96v-8.9c0-1.63-1.35-2.94-2.98-2.94ZM29.64,12.16h0l-4.54-4.54,4.54-4.5,4.54,4.5-4.54,4.54Z"/>
    <path d="M28.65,36.31h0c-.53,0-.96.46-.96.99,0,.57.43.99.96.99.57,0,.99-.43.99-.99,0-.53-.43-.99-.99-.99Z"/>
    <path d="M28.65,40.28h0c-.53,0-.96.46-.96.99s.43.99.96.99c.57,0,.99-.46.99-.99s-.43-.99-.99-.99Z"/>
    <path d="M28.65,32.38h0c-.53,0-.96.43-.96.99,0,.53.43.99.96.99.57,0,.99-.46.99-.99,0-.57-.43-.99-.99-.99Z"/>
    <path d="M31.63,34.36h0c-.53,0-.99.43-.99.99,0,.53.46.96.99.96.57,0,.99-.43.99-.96,0-.57-.43-.99-.99-.99Z"/>
    <path d="M31.63,38.3h0c-.53,0-.99.46-.99.99,0,.57.46.99.99.99.57,0,.99-.43.99-.99,0-.53-.43-.99-.99-.99Z"/>
    <path d="M34.61,36.31h0c-.57,0-.99.46-.99.99,0,.57.43.99.99.99.53,0,.99-.43.99-.99,0-.53-.46-.99-.99-.99Z"/>
    <path d="M34.61,40.28h0c-.57,0-.99.46-.99.99s.43.99.99.99c.53,0,.99-.46.99-.99s-.46-.99-.99-.99Z"/>
    <path d="M34.61,32.38h0c-.57,0-.99.43-.99.99,0,.53.43.99.99.99.53,0,.99-.46.99-.99,0-.57-.46-.99-.99-.99Z"/>
    <path d="M37.59,34.36h0c-.57,0-.99.43-.99.99,0,.53.43.96.99.96.53,0,.96-.43.96-.96,0-.57-.43-.99-.96-.99Z"/>
    <path d="M37.59,38.3h0c-.57,0-.99.46-.99.99,0,.57.43.99.99.99.53,0,.96-.43.96-.99,0-.53-.43-.99-.96-.99Z"/>
    <path d="M40.53,36.31h0c-.53,0-.99.46-.99.99,0,.57.46.99.99.99.57,0,.99-.43.99-.99,0-.53-.43-.99-.99-.99Z"/>
    <path d="M40.53,40.28h0c-.53,0-.99.46-.99.99s.46.99.99.99c.57,0,.99-.46.99-.99s-.43-.99-.99-.99Z"/>
    <path d="M40.53,32.38h0c-.53,0-.99.43-.99.99,0,.53.46.99.99.99.57,0,.99-.46.99-.99,0-.57-.43-.99-.99-.99Z"/>
  </svg>
</template>

<script>
export default {
  props: {
    height: {
      type: String,
      default: '100%'
    },
    width: {
      type: String,
      default: '100%'
    }
  }
}
</script>

