<template>
  <div class="sections-menu">
    <span
        v-for="(offset, index) in offsets"
        :key="index"
        class="menu-point"
        :class="{ active: activeSection === index }"
        @click="scrollToSection(index)"
    >
    </span>
  </div>
  <section class="page">
    <section-1 class="page__wrapper"/>
  </section>
  <section class="page">
    <section-2 class="page__wrapper"/>
  </section>
  <section class="page">
    <section-3 class="page__wrapper"/>
  </section>
  <section class="page">
    <section-4 class="page__wrapper"/>
  </section>
  <section class="page">
    <section-5 class="page__wrapper"/>
  </section>
  <section class="page">
    <section-6 class="page__wrapper pa-5 pa-md-3"/>
  </section>
  <section class="page">
    <section-7 class="page__wrapper"/>
  </section>
  <section class="page">
    <section-8 class="page__wrapper pa-5 pa-md-3"/>
  </section>
</template>

<script>
import section1 from './components/Section1.vue'
import section2 from './components/Section2.vue'
import section3 from './components/Section3.vue'
import section4 from './components/Section4.vue'
import section5 from './components/Section5.vue'
import section6 from './components/Section6.vue'
import section7 from './components/Section7.vue'
import section8 from './components/Section8.vue'
export default {
  components: {
    section1,
    section2,
    section3,
    section4,
    section5,
    section6,
    section7,
    section8
  },
  data() {
    return {
      inMove: false,
      inMoveDelay: 400,
      activeSection: 0,
      offsets: [],
      touchStartY: 0
    }
  },
  mounted() {
    this.calculateSectionOffsets()
    window.addEventListener('wheel', this.handleMouseWheel, { passive: false })
    window.addEventListener('touchstart', this.touchStart, { passive: false }) // mobile devices
    window.addEventListener('touchmove', this.touchMove, { passive: false }) // mobile devices
    this.scrollToSection(this.activeSection, true)
  },
  destroyed() {
    window.removeEventListener('wheel', this.handleMouseWheel, { passive: false })
    window.removeEventListener('touchstart', this.touchStart) // mobile devices
    window.removeEventListener('touchmove', this.touchMove) // mobile devices
  },
  methods: {
    /**
     * Calcaulates the absolute offsets of each section on the page and pushs it into the offsets array
     */
    calculateSectionOffsets() {
      let sections = document.getElementsByTagName('section')
      let length = sections.length

      for(let i = 0; i < length; i++) {
        let sectionOffset = sections[i].offsetTop
        this.offsets.push(sectionOffset)
      }
    },
    handleMouseWheel(e) {
      const delta = Math.sign(e.deltaY);
      if (delta === -1 && !this.inMove) {
        this.moveDown()
      } else if (delta === 1 && !this.inMove) {
        this.moveUp()
      }

      e.preventDefault()
      return false
    },
    /**
     * Move to the previous section or the last section if you're on the first section
     */
    moveDown() {
      this.inMove = true
      this.activeSection--

      if(this.activeSection < 0) {
        this.activeSection = 0
      }
      this.scrollToSection(this.activeSection, true)
    },
    /**
     * Move to the next section or the first section if you're on the last section
     */
    moveUp() {
      this.inMove = true
      this.activeSection++

      if(this.activeSection > this.offsets.length - 1) {
        this.activeSection = this.offsets.length - 1
      }
      this.scrollToSection(this.activeSection, true)
    },
    /**
     * Scrolls to the passed section id if the section exists and the delay is over
     */
    scrollToSection(id, force = false) {
      if (this.inMove && !force) return false

      this.activeSection = id
      // this.inMove = true;

      // get section and scroll into view if it exists
      let section = document.getElementsByTagName('section')[id]
      if (section) {
        document.getElementsByTagName('section')[id].scrollIntoView({behavior: 'smooth'})
      }

      setTimeout(() => {
        this.inMove = false
      }, this.inMoveDelay)
    },
    /**
     * Handles the 'touchstart' event on mobile devices
     */
    touchStart(e) {
      e.preventDefault()
      this.touchStartY = e.touches[0].clientY
    },
    /**
     * Handles the 'touchmove' event on mobile devices
     */
    touchMove(e) {
      if (this.inMove) return false
      const { clientY } = e.touches[0];
      e.preventDefault()

      if (this.touchStartY < clientY) {
        this.moveDown()
      } else if (this.touchStartY > clientY) {
        this.moveUp()
      }

      this.touchStartY = 0
      return false
    }
  }
}
</script>

<style>
.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 48px;
}

.page__wrapper {
  height: 100%;
  max-height: 800px;
  width: 100%;
  max-width: 1280px;
}

.sections-menu {
  position: fixed;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.sections-menu .menu-point {
  width: 10px;
  height: 10px;
  background-color: #FFF;
  display: block;
  margin: 16px 0;
  opacity: .6;
  transition: .4s ease-in-out all;
  cursor: pointer;
}

.sections-menu .menu-point.active {
  opacity: 1;
  transform: scale(1.5);
}

.sections-menu .menu-point:hover {
  opacity: 1;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
}
</style>
